<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escom.b074.amber.app">

    <application
        android:name=".AmberApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

        <activity android:name=".views.registry.bulletin.BasicDataViewActivity"
            android:label="home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.registry.bulletin.AdittionalDataViewActivity"
            android:label="Rescate Alerta Amber">
        </activity>

    </application>

</manifest>
